<div class="weather-card" (click)="goToWeatherDetail(weather.CityCode)" [ngClass]="getColor()">
  <button class="close-btn" (click)="$event.stopPropagation()">&times;</button>

  <div class="top-section">
    <div class="left-column">
      <div class="city-details">
        <h3>{{ weather.CityName }}, {{weather.CountryCode}}</h3>
        <p class="date">{{ getTimeAndDate(weather.Dt, weather.Timezone)}}</p>
      </div>
      <div class="status-info">
        <div class="status-icon">
          <img [src]="'http://openweathermap.org/img/wn/' + weather.Icon + '@2x.png'" alt="{{ weather.Status }}" />
        </div>
        <p class="status-text">{{ weather.Status }}</p>
      </div>
    </div>

    <div class="right-column">
      <div class="temperature">
        <span class="temp">{{ weather.Temp }}&#8451;</span>
        <div class="temp-minmax">
          <p>Temp Min: {{ weather.TempMin }}&#8451;</p>
          <p>Temp Max: {{ weather.TempMax }}&#8451;</p>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-section">
    <div class="detail-group">
      <p>Pressure: {{ weather.Pressure }} hPa</p>
      <p>Humidity: {{ weather.Humidity }}%</p>
      <p>Visibility: {{ weather.Visibility }} km</p>
    </div>

    <div class="vertical-line"></div>

    <div class="detail-group centered-detail">
      <i class="fa-solid fa-compass"></i>
      <p>{{ weather.WindSpeed }} m/s {{ weather.WindDeg }} Degree</p>
    </div>

    <div class="vertical-line"></div>
    
    <div class="detail-group">
      <p>Sunrise: {{ (weather.Sunrise * 1000) | date:'hh:mm a':'UTC' }}</p>
      <p>Sunset: {{ (weather.Sunset * 1000) | date:'hh:mm a':'UTC' }}</p>
    </div>
  </div>
</div>